---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

<div class="tags">
    <div class="pull-right"><a href="{{ site.github_repo }}/edit/gh-pages/{{ page.path }}">.</a></div>{% for tag in page.tags %}<a href="/tag/#{{ tag }}">#{{ tag }}</a> {% endfor %}
</div>
<div class="pagination">
  {% if page.previous %}
  <a  href="{{ page.previous.url }}"> {{ page.previous.title }} 👈🏻</a>
  {% endif %}
  {% if page.next %}
  <a class="pull-right" href="{{ page.next.url }}"> 👉🏻 {{ page.next.title }} </a>
  {% endif %}
</div>

<div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: '<BaWEmoIHs4yqQoH2qQYWu8ey-gzGzoHsz>',
            appKey: '<kjd4g2xge928HnTE66FRhTCz>'
            placeholder: 'Say something...' 
        })
    </script>

#<div id="gitalk-container"></div>
#<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
#<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
#<script>        
#var gitalk = new Gitalk({            
#  id: '{{ page.url }}',            
#  clientID: '{{ site.gitalk.clientID }}',            
#  clientSecret: '{{ site.gitalk.clientSecret }}',            
#  repo: '{{ site.gitalk.repo }}',            
#  owner: '{{ site.gitalk.owner }}',            
#  admin: ['{{ site.gitalk.owner }}'],            
#  labels: ['gitalk'],            
#  perPage: 50,        
#})        
#gitalk.render('gitalk-container')        
#</script>
