---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
     
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

<div class="tags">
    <div class="pull-right"><a href="{{ site.github_repo }}/edit/master/{{ page.path }}">.</a></div>{% for tag in page.tags %}<a href="/tag/#{{ tag }}">#{{ tag }}</a> {% endfor %}
</div>
<div class="pagination">
  {% if page.previous %}
  <a  href="{{ page.previous.url }}"> {{ page.previous.title }} 👈🏻</a>
  {% endif %}
  {% if page.next %}
  <a class="pull-right" href="{{ page.next.url }}"> 👉🏻 {{ page.next.title }} </a>
  {% endif %}
</div>

<div id="vcomments"></div>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    <script>
      new Valine({
            el: '#vcomments',
            emoticon_url: 'https://cloud.panjunwen.com/alu', //表情图片网址
            emoticon_list: ["吐.png","期待.png","高兴.png","吐血倒地.png","哭泣.png","欢呼.png"],//表情图片文件名
            appId: 'mzfw3YV9kMMlmDam4vrc24NS-gzGzoHsz',
            appKey: '0TbovJ0AN1Ohp45uHqlBwdsW',
            notify:false,
            verify:false,
            avatar:'mm', 
            placeholder: 'Say something...' ,
            visitor: true
       })
    </script>
